<!DOCTYPE html>
<html>
  
  <%= render '/layouts/header' %> <!--This has the head and /head tags, and the opening body-->
  
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>
</html>
